* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: #ecf0f3;

}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.card img {
    width: 100%;
}

.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    border-radius: 30px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
        -13px -13px 20px #8c8c8c;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .card .content {
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: bottom 0.5s;
    transition-delay: 0.8s;
}

.container .card:hover .content {
    bottom: 0px;
    transition-delay: 0s;

}

.container .card .content .contentBx h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1rem;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(-20px);
    transition-delay: 0.6s;
}

.container .card:hover .content .contentBx h3 {
    opacity: 1;
    transform: translateY(0px);
}

.container .card .content .contentBx h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.container .card .content .sci {
    position: relative;
    bottom: 10px;
    display: flex;
}

.container .card .content .sci li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.2s * var(--i));

}

.container .card:hover .content .sci li {
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content .sci li a {
    color: #fff;
    font-size: 24px;
}